.App {
  text-align: center;
}



/* css */
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden !important;
  height: 100vh;
    background-color: rgba(50, 151, 245, 0.1);
    vertical-align: middle;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    align-items: center;
}
body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 0.81568rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: start;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}
